<%= semantic_form_for contact ,url: "/clients/add_contact" , remote: true, html: {class: "client-form" , method: "post"} do |f|%>
		<%= f.inputs do %>
			<%= f.input :full_name%>
			<%= f.input :phone%>
			<li id="contact_email_input" class="string input optional stringish">
				<label for="contact_email" class=" label">Email</label>
				<input type="text" name="contact[email]" maxlength="255" id="contact_email">
			</li>
			<%= f.input :content, label: ""%>
		<% end%>
		<%= f.actions do %>
			<li class="submit">
				<label></label>
	      <input class="contact-submit" type="submit" value="Save" name="commit">
			</li>
	  <% end %>	
<% end %>