<%= google_map_api_js("AIzaSyA344yCug0-GhjW3XJyZmkLWLN_qtA_ziM") %>
<%= semantic_form_for [:admin, @land], html: { multipart: true } do |f| %>
  <%= f.inputs do%>
  	<%= f.input :category_id, as: :select, collection: Category.all, prompt: true%>
		<%= f.input :title, label: "Tên"%>
		<%= f.input :avatar, as: :file,  :hint => f.template.image_tag(f.object.avatar.url(:thumb))%>
		<%= f.input :land_position_text, label: "Vị trí" %>
		<%= f.input :land_status, label: "Tiến độ"%>
		<%= f.input :price, label: "Giá"%>
		<%= f.input :description, as: :html_editor, label: "Chi tiết"%>
		<li class="file input optional stringish">
			<label class="label">Upload Gallery</label>
			<%= file_field_tag('land_attachments_asset', multiple: true, name: "land[attachments_attributes][][asset]")%>
			<p class="inline-hints">
				<% if @land && @land.attachments %>
					<% @land.attachments.each do |at|%>
						<%= image_tag at.asset.url(:small) if at.asset.file?%>
					<% end%>
				<% end%>
			</p>
		</li>
		<li class="string input optional stringish">
			<label class="label">Map</label>
			<%= show_map_helper @land, {zoom: 15, latitude: 10.823099, longitude: 106.629664, allow: 'point', searchbox: 'show', width: 400, height: 200, searchbox_width: 300} %>
		</li>
	<% end%>
	<%= f.actions do %>
		<%= f.submit%>
	<% end%>
<% end %>